$chart-container-height: 370px;
$edit-campaign-page-header-height: 90px;
$font-family: 'Montserrat', 'Roboto', 'Helvetica', 'Arial', sans-serif;
$transition: all 0.5s cubic-bezier(0.25, 0.8, 0.05, 1);

$header-height: 50px;

//shades
$shade-0: white;
$shade-25: #f9f9f9;
$shade-50: #f2f2f2;
$shade-100: #e6e6e6;
$shade-200: #cccccc;
$shade-300: #b3b3b3;
$shade-400: #999999;
$shade-500: #808080;
$shade-600: #666666;
$shade-700: #4d4d4d;
$shade-800: #333333;
$shade-900: #1a1a1a;
$shade-1000: #000000;

//colors
$green-1: #7ac70c;
$green-2: #6ebb00;
$green-3: #66b300;
$green-4: #5aa700;
$red: #bf4d28;
$red-1: #fc4848;
$red-2: #e93535;
$blue: #32558f;
$blue-light: #72a0ec;
$sinka: #178af1;
$zheltik: #feb82c;
$orange: #eaa418;

$xl: 1920px - 1px;
$lg: 1280px - 1px;
$md: 960px - 1px;
$sm: 600px - 1px;
$xs: 480px - 1px;