@import '~/src/styles/variables';

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat'), url('../assets/fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat'), url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
}

[hidden] {
  display: none !important;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: $shade-25;
  color: #333;
  font-family: $font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

._orientationRight_b090.wrap_c579 {
  right: 10px !important;
}

button {
  -webkit-tap-highlight-color: transparent;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.MuiDataGrid-panel {
  .MuiDataGrid-columnsPanelRow:has(> label.Mui-disabled) {
    display: none;
  }
}

.MuiDataGrid-panelFooter {
  & button:nth-child(1) {
    margin-right: 15px;
  }
}

// .MuiDataGrid-menu {
//   inset: auto calc(90vw - 400px) 100px auto !important;
// }

.snackbar-custom {
  bottom: 90px !important;
}
