test {
	color: red;
}

.subjectName {
	font-weight: 500;
	font-size: 11px;
	line-height: 1.5;
}

.subjectIndex {
	font-weight: 500;
	font-size: 11px;
	line-height: 1.8;
}

.subjcetCaption {
	font-weight: 300;
	font-size: 10px;
	line-height: 1.8;
}
.colorIcon{
	border-radius: 100%;
	height: 10px;
	min-width: 10px;
	margin-right: 5px;
}

.colorIconLectures{
	background-color: rgb(67%, 86%, 68%);
}
.colorIconPractice{
	background-color: rgb(92%, 75%, 46%) ;
}
.colorIconLaboratory{
	background-color: rgb(62%, 64%, 95%);
}