test {
	color: red;
}

.subjectName {
	font-weight: 500;
	font-size: 11px;
	line-height: 1.8;
}

.subjectIndex {
	font-weight: 500;
	font-size: 11px;
	line-height: 1.8;
}

.subjcetCaption {
	font-weight: 300;
	font-size: 10px;
	line-height: 1.8;
}